body {
    margin: 40px;
}

div {
    font-size: 25px;
    margin-bottom: 10px;
}

.timerButton {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    border-radius: 50px;
    background-color: #b0e0e6;
}

img {
    width: 30px;
    height: 30px;
}

#progressBar {
    width: 500px;
    display: block;
    padding: 0;
    border: 2px solid black;
    height: 30px;
}

    #progressBar div {
        display: inline-block;
        height: 100%;
        margin: 0;
    }

.goalInput {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid #CCC;
    vertical-align: top;
}

button.goalInput {
    background-color: #DEDEDE;
    cursor: pointer;
}

button img {
    width: 100%;
    height: 100%;
}

#goalForm {
    display: inline;
}

#editGoal{
    margin-left: 20px;
}